/configure/os/
/bin/
/lib/
/doc/
/include/
/db/
/dbd/
/documentation/html
/documentation/*.tag
/python*.*/
envPaths
*configure/*.local
!*configure/ExampleRELEASE.local
O.*/
QtC-*
ui_*.py
*_rc.py
*.so
*.pyc
__pycache__/
*.local
