Source: masar
Section: admin
Priority: extra
Maintainer: Guobao Shen <shen@frib.msu.edu>
Build-Depends: debhelper (>= 9), epics-debhelper (>= 8.14~),
               dh-exec, dh-exec-epics,
               epics-dev,
               epics-pvd-dev,
               epics-pva-dev,
               epics-nt-dev,
               python-dev,
Standards-Version: 3.9.6
XS-Python-Version: >= 2.7
Homepage: http://some.url/
Vcs-Git: https://github.com/epics-base/masarService.git
Vcs-Browser: https://github.com/epics-base/masarService

Package: masar-server
Architecture: any
Depends: libmasar2.0 (= ${binary:Version}),
         python-masar (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
         ${python:Depends},
Recommends: mongodb-server
Description: MASAR server
 Long description
 with lines indented
 .
 This package contains the MASAR server

Package: python-masar
Section: python
Architecture: any
Depends: libmasar2.0 (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
         ${python:Depends},
         python-numpy,
         python-pymongo,
Description: Short description
 Long description

Package: masar-config
Architecture: any
Depends: libmasar2.0 (= ${binary:Version}),
         python-masar (= ${binary:Version}),
         python-qt4,
         ${python:Depends},
         ${shlibs:Depends}, ${misc:Depends},
Description: Short description
 Long description

Package: libmasar2.0
Section: lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: epics-synapps,
Description: Short description
 Long description
 with lines indented
 .
 This package contains runtime libraries
